<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>School | {{ page_title }}</title>

    {% include 'layout/_global_css.html' %}
    {% block extra_css %}
    {% endblock %}
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    <script src="{% static 'js/color-modes.js' %}"></script>
    <main class="container justify-content-center shadow p-5 mb-5 rounded col-md-5 mx-auto mt-5">
      <div class="container text-center mb-3">
        <img class="mb-4" src="{% static 'brand/bootstrap-logo.svg' %}" alt="" width="72" height="57" />
      </div>
      {% block content %}
      {% endblock %}
    </main>
    {% include 'layout/_global_js.html' %}
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
