<!DOCTYPE html>
{% load static %}
<html lang="en">
  <!-- begin::Head -->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>School | {{page_title}}</title><!-- begin::Primary Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "layout/_global_css.html" %}
    {% block extra_css %}{% endblock extra_css %}
  </head> <!-- end::Head -->
  <!-- begin::Body -->

  <body class="layout-fixed sidebar-expand-lg sidebar-mini bg-body-tertiary">
    <!-- begin::App Wrapper -->
    <div class="app-wrapper">
      <!-- begin::Header -->
      {% include "layout/_header.html" %}
      <!-- end::Header --> 
      <!-- begin::Sidebar -->
      {% include "layout/_sidenav.html" %}
      <!-- end::Sidebar --> <!-- begin::App Main -->
      <main class="app-main">

        {% block content %}{% endblock content %}
      </main>
      <!-- end::App Main -->
      <!-- begin::Footer -->
      {% include "layout/_footer.html" %}
      <!-- end::Footer -->
    </div> <!-- end::App Wrapper --> <!-- begin::Script -->
    <!-- begin::OverlayScrollbars Configure -->
    {% include "layout/_global_js.html" %}
    <script>
      const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper'
      const Default = {
        scrollbarTheme: 'os-theme-light',
        scrollbarAutoHide: 'leave',
        scrollbarClickScroll: true
      }
      document.addEventListener('DOMContentLoaded', function () {
        const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER)
        if (sidebarWrapper && typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== 'undefined') {
          OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
            scrollbars: {
              theme: Default.scrollbarTheme,
              autoHide: Default.scrollbarAutoHide,
              clickScroll: Default.scrollbarClickScroll
            }
          })
        }
      })
    </script> <!-- end::OverlayScrollbars Configure --> <!-- end::Script -->
    {% block extra_js %}{% endblock extra_js %}
  </body>
  <!-- end::Body -->
</html>
